name: Build Substream

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        target: wasm32-unknown-unknown
        override: true

    - name: Install Substreams CLI
      run: |
        wget -c https://github.com/streamingfast/substreams/releases/download/v1.7.2/substreams_linux_x86_64.tar.gz -O - | tar xz
        sudo mv substreams /usr/local/bin/

    - name: Build
      run: substreams build

    - name: Pack
      run: substreams pack .

    - name: Upload SPKG Artifact
      uses: actions/upload-artifact@v4
      with:
        name: substreams-package
        path: "*.spkg"
